<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>About SetlistFM to Spotify</title>
		<link rel="icon" href="/public/favicon.ico" />
		<link rel="stylesheet" href="/public/style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header>
			<nav class="navbar" aria-label="Main navigation">
				<ul>
					<li class="navbar-text navbar-left">
						<a href="/">Home</a>
					</li>
					<li class="navbar-text navbar-left">
						<a href="/about">About</a>
					</li>
					<li class="navbar-text navbar-left">
						<a href="/privacy">Privacy</a>
					</li>
					<li class="navbar-icon navbar-right">
						<a
							href="https://github.com/chrismursec/setlistfm-to-spotify"
							target="_blank"
							rel="noopener"
							aria-label="GitHub"
						>
							<i class="fab fa-github"></i>
						</a>
					</li>
					<li class="navbar-icon navbar-right">
						<a id="theme_toggle" style="cursor: pointer">
							<i class="fa-solid fa-circle-half-stroke"></i>
						</a>
					</li>
				</ul>
			</nav>
		</header>

		<main class="container">
			<section id="about-info">
				<h1 class="title">About SetlistFM to Spotify</h1>

				<p class="about-info">
					Welcome! This is SetlistFM to Spotify. Login with your Spotify account and then paste in a link from SetlistFM
					for us to automatically create a playlist with the tracks. Get ready for your next gig by bumping the songs
					beforehand.
				</p>
			</section>
		</main>

		<footer>
			<p>
				Built with ❤️ by
				<a href="https://github.com/chrismursec/" target="_blank" rel="noopener">@chrismursec</a>
			</p>
		</footer>

		<script src="https://kit.fontawesome.com/f7c7bda0f8.js" crossorigin="anonymous"></script>

		<script src="/public/dark-mode.js"></script>
	</body>
</html>
