<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SetlistFM to Spotify</title>
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">SetlistFM to Spotify</h1>

      <div id="login-section">
        <button class="login-btn" onclick="login()">Login with Spotify</button>
      </div>

      <div id="playlist-section" style="display: none">
        <hr />

        <div class="input-group">
          <input
            type="text"
            id="artist-name"
            class="input-field"
            placeholder="Artist Name"
          />
        </div>
        <div class="input-group">
          <input
            type="text"
            id="setlistfm-link"
            class="input-field"
            placeholder="setlist.fm link"
          />
        </div>
        <div class="input-group">
          <input
            type="text"
            id="playlist-name"
            class="input-field"
            placeholder="Playlist Name"
          />
        </div>

        <button class="create-btn" onclick="createPlaylist()">
          Create Playlist
        </button>
      </div>

      <div id="success-message" style="display: none">
        <h1 class="title">Success lol</h1>
      </div>

      <script src="/public/main.js"></script>
    </div>
  </body>
</html>
